<div class="col-3 border ml-4 my-3 p-1 bg-light" id="classification-list">
    <div class="h6 border mb-2 px-3 py-2" style="background: #b6e0f8">分類清單</div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            最新消息
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            本系介紹
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            師資陣容
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            課程規劃
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            學生資源
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            招生訊息
        </button>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            榮譽榜單
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FAQ
        </button>
    </div>
    <div class="btn-group dropright d-block">
        <button type="button" class="btn bg-light dropdown-toggle w-100 text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            其他資源
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
        </div>
    </div>
</div>